<h1>Admin Dashboard</h1>
<div class="row">
  <div class="col-lg-2">
    {{#link-to "newProduct"}}Create a product{{/link-to}}<br>

    {{# each }}
    <ul class="list-unstyled">
      <li>{{title}}</li>
      <li>
        {{#link-to "editProduct" this}}Edit{{/link-to}}
        <button {{action "deleteProduct" this}} >Delete</button>
        <img {{ bind-attr src=image }} style="width: 80px; height:80px;" class='thumbnail'/>
      </li>
      {{/each }}
    </ul>
  </div>
  <div class="col-lg-8">
    {{outlet}}
  </div>
</div>