<div class='container'>
  <a class="logo" href="/"> <h1>MyTunes</h1> </a>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/#/products">products</a></li>
      <li><a href="/#/cart">cart</a></li>
      <li><a href="/#/admin">admin</a></li>
    </ul>
  </nav>
  <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <hr>
  {{outlet}}
  
  <div class='text-muted'><small>Foot</small></div>
</div>
